<style>
        body {
           background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
           
        }
        form {width: 300px; 
            margin: 0 auto; 
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px; 
        }

        p, label {
            margin-bottom: 10px;
        }

        h1, h2 {
            text-align: center;
            color: #000000;
        }
        .container{ 
            width: 100%;
            margin: 3.125rem auto 0 auto;
        }

        #survey-form {
            background: rgba(14, 16, 122, 0.8);
            backdrop-filter: blur(10px);
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(255, 255, 255, 0.741);
            padding: 20px 30px;
            max-width: 400px;
            width: 90%;
        }

        input[type="text"], input[type="email"], input[type="number"], select, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            background: rgba(5, 102, 33, 0.2);
            color: #ffffffaf;
            font-size: 1rem;
        }

        textarea {
            resize: none;
            height: 100px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            background: linear-gradient(135deg, #19672c, #297d53);
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        button:hover {
            background: linear-gradient(135deg, #2b8f209d, #1b7f3c);
        }

        p {
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
        }
    </style>